.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: 0.6s;
    z-index: 10;
    background-color: rgba(0, 0, 0, .3);
}

.menu_is-opened {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.menu__content {
    width: 520px;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 25px 25px 90px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.menu__button-close {
    border: none;
    cursor: pointer;
    background-image: url('../../images/close-button-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 22px;
    background-color: #fff;
    align-self: flex-end;
}

.menu__link-container {
    padding: 0;
    margin: 115px 0 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link-item {
    list-style: none;
    padding: 0;
    margin: 0 0 25px;
}

.menu__link-item:last-of-type{
    margin: 0;
    padding: 0;
}

.menu__link_active {
    border-bottom: 2px solid #000;
}

.menu__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding: 0 0 4px;
}

@media screen and (max-width: 520px) {
    .menu__content {
        width: 100%;
        padding: 20px 20px 45px;
        min-height: 400px;
    }

    .menu__link-container {
        margin-top: 100px;
    }
}